

<button [routerLink]="['/characters/create']">Create a new Hero</button><br>

<table>
    <tr>
        <th>Name</th>
        <th>Race</th>
        <th>Class</th>
        <th>Description</th>
        <th>Actions</th>

    </tr>
    <tr *ngFor="let character of allCharacters">
        <td>{{character.name}}</td>
        <td>{{character.race}}</td>
        <td>{{character.character_class}}</td>
        <td>{{character.description}}</td>
        <td>
            <button [routerLink]="['/character', character._id]">View Sheet</button><br>
            <button [routerLink]="['/character', character._id]">Enhance a Hero</button><br>
            <button (click) ="destroyOneCharacter(character._id)">Retire</button><br>
        </td>
    </tr>
</table>