<div *ngIf='characterClass'>
    <h1>Class: {{characterClass.name}}</h1>
    <div>
        <h4>Hit-Die: {{characterClass['hit_die']}}</h4>
        <h4>Saving-Throws</h4>
        <div>
            <ul *ngFor="let throw of characterClass['saving_throws']">
                <li>{{throw.name}}</li>
            </ul>
        </div>
        <div *ngIf='classFeatures.length>0'>
            <h4>Class Features:</h4>
            <ul *ngFor='let f of classFeatures'>
                <li>{{f.name}}</li>
            </ul>
        </div>
        <div>
            <h4>Class Proficiencies</h4>
            <ul *ngFor=" let pros of characterClass['proficiencies']">
                <li>{{pros.name}}</li>
            </ul>
        </div>
    </div>
    <h2>Choose Your Attributes</h2>
    <h3>Choose {{characterClass['proficiency_choices'][0]['choose']}} Skills:</h3>
    <div style='vertical-align: top; display: inline-block' *ngFor="let skill of  classSkills">
        <button style='margin:3px' *ngIf='skill.added==false' (click)='addSkill(skill)'>{{skill.name}}</button>
        <button style='background-color: red; margin:3px; color:white' *ngIf='skill.added==true'
            (click)='cancelSkill(skill)'>{{skill.name}}</button>
    </div>
</div>
<div *ngIf='classSpells'>
    <div *ngFor="let level of classSpells; let i = index" [attr.data-index]='i'>
        <div *ngIf="level.length>0">
            <h3>Pick {{spellLimit}} Spells from level {{i}} spells</h3>
            <div style='vertical-align: top; display: inline-block' *ngFor='let spell of level'>
                <button style='margin:3px' *ngIf='spell.added==false'
                    (click)='addSpell(spell, i)'>{{spell.name}}</button>
                <button style='margin:3px; background-color: red; color: white' *ngIf='spell.added==true'
                    (click)='cancelSpell(spell, i)'>{{spell.name}}</button>
            </div>
        </div>
    </div>
</div>
<button style='background-color:green; color: white; width:300px; height: 100px;margin-top:20px; margin-left: 30%; ' (click)='createCharacter()'>Create Character</button>
<div *ngIf= 'errors'>
    <div *ngFor= 'let err of errors'>
        <p style='color:red; font-size: large;'>{{err}}</p>
    </div>
</div>
<div>
    <div>
        <span>Strength: </span>
        <button (click)='addStat(strength, 8 )'>8</button>
        <button (click)='addStat(strength, 10 )'>10</button>
        <button (click)='addStat(strength, 12 )'>12</button>
        <button (click)='addStat(strength, 13 )'>13</button>
        <button (click)='addStat(strength, 14 )'>14</button>
        <button (click)='addStat(strength, 15 )'>15</button>
    </div>
    <div>
        <span>Dexterity: </span>
        <button (click)='addStat(dexterity, 8 )'>8</button>
        <button (click)='addStat(dexterity, 10 )'>10</button>
        <button (click)='addStat(dexterity, 12 )'>12</button>
        <button (click)='addStat(dexterity, 13 )'>13</button>
        <button (click)='addStat(dexterity, 14 )'>14</button>
        <button (click)='addStat(dexterity, 15 )'>15</button>
        
        
    </div>
    <div>
        <span>Constitution: </span>
        <button (click)='addStat(constitution, 8 )'>8</button>
        <button (click)='addStat(constitution, 10 )'>10</button>
        <button (click)='addStat(constitution, 12 )'>12</button>
        <button (click)='addStat(constitution, 13 )'>13</button>
        <button (click)='addStat(constitution, 14 )'>14</button>
        <button (click)='addStat(constitution, 15 )'>15</button>
        
    </div>
    <div>
        <span>Intelligence: </span>
        <button (click)='addStat(intelligence, 8 )'>8</button>
        <button (click)='addStat(intelligence, 10 )'>10</button>
        <button (click)='addStat(intelligence, 12 )'>12</button>
        <button (click)='addStat(intelligence, 13 )'>13</button>
        <button (click)='addStat(intelligence, 14 )'>14</button>
        <button (click)='addStat(intelligence, 15 )'>15</button>
        
    </div>
    <div>
        <span>Wisdom: </span>
        <button (click)='addStat(wisdom, 8 )'>8</button>
        <button (click)='addStat(wisdom, 10 )'>10</button>
        <button (click)='addStat(wisdom, 12 )'>12</button>
        <button (click)='addStat(wisdom, 13 )'>13</button>
        <button (click)='addStat(wisdom, 14 )'>14</button>
        <button (click)='addStat(wisdom, 15 )'>15</button>
    </div>
    <div>
        <span>Charisma: </span>
        <button (click)='addStat(charisma, 8 )'>8</button>
        <button (click)='addStat(charisma, 10 )'>10</button>
        <button (click)='addStat(charisma, 12 )'>12</button>
        <button (click)='addStat(charisma, 13 )'>13</button>
        <button (click)='addStat(charisma, 14 )'>14</button>
        <button (click)='addStat(charisma, 15 )'>15</button>
    </div>
</div>
