<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="create.component.css">
</head>

<body>
    <div *ngFor='let err of errors'>
        <p>{{err}}</p>
    </div>
    <form (submit)="createCharacter()">
        <label>Name:</label>
        <input type="text" name="newCharacter.name" [(ngModel)]="newCharacter.name" /><br>
        <label>Bio/Description</label>
        <textarea type="textarea" name="newCharacter.description" [(ngModel)]="newCharacter.description"></textarea><br>
        <label>Race:</label><br>
        <label *ngFor="let race of allRaces">
            <input type="radio" name="newCharacter.race" [(ngModel)]="newCharacter.race" value="{{race.name}}">
            {{race.name}}
        </label><br/>
        <label>Class:</label><br>
        <label *ngFor="let class of allClasses">
            <input type="radio" name="newCharacter.character_class" [(ngModel)]="newCharacter.character_class" value="{{class.name}}">
            {{class.name}}
        </label><br/>
        <input type="submit" value="submit">
    </form>
    <div class="root">
        <app-pick-attributes *ngIf = "class_index" [class_index]= "class_index" ></app-pick-attributes>
    </div>
</body>

</html>